.ipynb_checkpoints/
1000032-Jade.hkl
1000032-powdercell.pdf
1000032.res
9007634.txt
Al2O3_output.log
Untitled.ipynb
jadex.xye.import
setpaths.py
1507774.cif
16_01_07_0010_Aspirin_HighRez.xye
16_03_09_0015_Silver Behenate with Baffle and Anti_Scatter Slit_highrez.xye
7050897.cif
FasterProfileGen.pyc
RietveldPhases.pyc
tests/1000032.cif
doc/Makefile
doc/_build/
doc/make.bat
RietveldRefinery.pyc
tests/Cement/minimizer-settings.txt
paths.pyc
tests/tst_RietveldPhases.pyc
doc/exts/
tests/tst_RietveldRefinery.pyc
tests/Cement/tst_Rietveld_Cement.pyc
tests/Cement/Cement.pyproj
tests/tst_RietveldPhases.profile
tests/tst_RietveldPhases_from_nb.py
tests/Cement/tst_Rietveld_Cement.profile
tests/Cement/.vs/
*.json
tests/Cement/Cement1.pyproj
tests/Cement/Cement1.sln
tests/9007634.cif
