*.pyc
*.profile
*.pyproj
*.ipynb
.ipynb_checkpoints/
1000032-Jade.hkl
1000032-powdercell.pdf
1000032.res
9007634.txt
Al2O3_output.log
Untitled.ipynb
jadex.xye.import
setpaths.py
doc/_build/
tests/Cement/minimizer-settings.txt
doc/exts/
tests/tst_RietveldPhases_from_nb.py
tests/Cement/.vs/
tests/Cement/Cement1.sln
tests/9007634.cif
tests/Cement/build/
tests/Cement/dist/
build/
dist/
htmlcov/
.cache/
classes_UML.pdf
